{% extends 'base.html' %}
{% block meta %}
    <title>Edit Experience - {{ name }}</title>
{% endblock meta %}
{% block content %}
<main>
    <section class="experience-section">
        <div class="container">
            <h1>Edit Experience</h1>
            <form method="post"
                  action="{% url 'main:edit_experience' experience.id %}"
                  class="experience-form"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'components/password.html' %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        
                        {% if field.name == 'thumbnail' %}
                            {% if experience.thumbnail %}
                            <div class="preview">
                                <p>Foto Saat Ini:</p>
                                <img src="{{ experience.thumbnail }}" alt="Preview" class="image">

                                <div class="clear-checkbox-group">
                                    <input type="checkbox" name="image-clear" id="image-clear_id">
                                    <label for="image-clear_id">Hapus foto saat ini</label>
                                </div>
                            </div>
                            {% endif %}

                            {{ field }}
                        {% else %}
                            {{ field }}
                        {% endif %}

                        {% for error in field.errors %}
                            <p class="form-error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="button">Simpan Perubahan</button>
                <a href="{% url 'main:show_experience' %}" class="button button-secondary">Batal</a>
            </form>
        </div>
    </section>
</main>
{% endblock content %}