{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Manage User Role</title>
{% endblock meta %}
{% block content %}
    <main>
        <section class="experience-section">
            <div class="container">
                <h2>Manage User Role</h2>
                
                <form class="role-form" id="role-form">
                    {% csrf_token %}
                    <div class="role-card">
                        <h3 class="user-edit-header">Tambahkan User ke Role Editor</h3>
                        <div class="user-search">
                            <input type="search"
                                    id="search-non-editor-input"
                                    name="search-non-editor"
                                    placeholder="Cari berdasarkan username"
                                    class="user-search__input"
                                    aria-label="Cari berdasarkan username">
                        </div>

                        <div id="non-editor-list" class="delete-checkbox-list"></div>
                    </div>

                    <div class="role-card">
                        <h3 class="user-edit-header">Cabut User dari Role Editor</h3>

                        <div class="user-search">
                            <input type="search"
                                    id="search-editor-input"
                                    name="search-editor"
                                    placeholder="Cari berdasarkan username"
                                    class="user-search__input"
                                    aria-label="Cari berdasarkan username">
                        </div>

                        <div id="editor-list" class="delete-checkbox-list"></div>
                    </div>

                    <div class="form-action">
                        <button type="submit" class="button button-primary">Simpan Perubahan</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <script src="{% static 'js/manage_role.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            initManageRole({
                getJsonUrl: "{% url 'main:get_manage_role_json' %}",
                saveRoleUrl: "{% url 'main:manage_role_ajax' %}",
                csrfToken: "{{ csrf_token }}"
            });
        });
    </script>
{% endblock content %}