{% extends 'base.html' %}
{% block meta %}
    <title>Skill - {{ name }}</title>
{% endblock meta %}
{% block content %}

<main>
    <section class="border-line skill-section" id="skill">
        <div class="container">
            <h2 class="title">My Skills</h2>
            
            <ul class="list-default skill-list">
                {% for skill in skill_list %}
                    <li>
                        <img src="{{ skill.image.url }}" alt="Photo of {{ skill.title }}">
                        <span>{{ skill.title }}</span>
                    </li>
                    {% empty %}
                    <div class="empty-state">
                        <h3>Belum ada skill yang ditambahkan.</h3>
                    </div>
                    {% endfor %}
            </ul>
        </div>
    </section>
</main>

{% endblock content %}